<h1>Listing Random</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody id="random">
    <%= for {key, value} <- @random_collection do %>
      <tr id=<%= key %>>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>

    <% end %>
  </tbody>
</table>

