<h1>Listing Random</h1>

<table>
  <thead>
    <tr><th>Fixed key</th><th>Changing value</th></tr>
  </thead>
  <tbody id="random">
    <%= for {key, value} <- @random_collection do %>
        <%= live_component @socket,LvPerformanceWeb.RandomLive.Component, id: key, value: value %>
    <% end %>
  </tbody>
</table>

